mixin header()
    header.header.page__header
        .header__row.page__content-limiter
            a(href="#").header__link
                img(src="../layouts/blocks/header/img/logo.svg").header__logo
            .header__nav-block
                button.header__button Войти
                a(href="#").header__link
                    img(src="../layouts/blocks/header/img/basket.svg").header__icon
                block