.header {
    background-color: #FFFFFF;
    box-shadow: 0 0 16px rgba(38, 38, 38, .16);
    &__row {
        padding-top: 16px;
        padding-bottom: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        width: 110px;
        display: block;
    }
    &__nav-block {
        display: flex;
        align-items: center;
    }
    &__button {
        padding: 14px 20px;
        background-color:  #FFFFFF;
        border: 1px solid #E0E0E0;
        border-radius: 2px;
        font-size: 13px;
        font-weight: 500;
        &:hover {
            background-color: rgba(117, 117, 117, .04);
        }
    }
    &__icon {
        margin-left: 27px;
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .header {
        &__logo {
            width: 120px;
        }
        &__icon {
            display: block;
        }
    }
}