.page {
    font-family: 'Roboto', sans-serif;
    &__header {
        position: fixed;
        top: 0;
        width: 100%;
    }
    &__content-limiter {
        max-width: 1200px;
        box-sizing: border-box;
        margin: 0 auto;
        padding-left: 8px;
        padding-right: 8px;
    }
    &__first-block {
        margin-top: 116px;
        margin-bottom: 40px;
    }
    &__search {
        box-sizing: border-box;
        width: 100%;
    }
    &__footer {
        margin-top: 64px;
        margin-bottom: 0;
        padding-top: 56px;
        padding-bottom: 16px;
    }
    &__startButton {
        position: fixed;
        bottom: 24px;
        right: 16px;
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 575px) {
    .page__startButton {
        width: 64px;
        height: 64px;
    }
}

@media screen and (min-width: 992px) {
    .page {
        &__content-limiter {
            padding-left: 55px;
            padding-right: 55px;
        }
    }
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}