.footer {
    background-color: #262626;
    &__img {
        width: 120px;
        margin-bottom: 40px;
    }
    &__spacer {
        background-color: #FFFFFF;
        height: 1px;
    }
    &__row {
        margin-top: 35px;
    }
    &__select-box {
        padding: 0 12.14px;
        display: flex;
        align-items: center;
        background-color: #3B3B3B;
        border: none;
        border-radius: 3px;
    }
    &__select {
        background-color: #3B3B3B;
        color: #FFFFFF;
        font-size: 13px;
        font-weight: 400;
        border: none;
        margin-left: 16px;
        padding: 16px 0;
        width: 100%;
        background-image: url("../layouts/blocks/footer/img/selectArrow.svg");
        background-repeat: no-repeat;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-position: right;
        &::-ms-expand {
            display: none;
        }
    }
    &__hash {
        margin-top: 32px;
        &1 {
            width: 10px;
        }
        &2 {
            width: 65px;
            margin-left: 1px;
        }
    }
    &__socials {
        margin-top: 17px;
        margin-bottom: 39px;
    }
    &__social-icon {
        width: 24px;
        margin-right: 10px;
    }
    &__menu {
        margin: 0;
        padding-left: 0;
        &-link {
            text-decoration: none;
            &:hover {
                .footer__menu-item {
                    color: #b5b5b5;
                }
                .footer__last-row-text-item {
                    color: #b5b5b5;
                }
            }
        }
        &-item {
            list-style-type: none;
            padding-bottom: 23px;
            font-size: 13px;
            color: #FFFFFF;
            transition: color 0.3s ease-in;
        }
    }
    &__app-links-row {
        display: flex;
        justify-content: center;
        margin: 40px 0;
    }
    &__linkbutton {
        height: 40px;
        padding: 0 20px;
    }
    &__last-row {
        margin: 40px 0 0;
    }
    &__last-row-text-item {
        color: #FFFFFF;
        font-size: 11px;
        padding-bottom: 24px;
        transition: color 0.3s ease-in;
    }
}

@media screen and (max-width: 575px) {
    .footer {
        &__linkbutton {
            height: 36px;
        }
    }
}