include ./blocks/page/page
include ./blocks/header/header
include ./blocks/search/search
include ./blocks/catalog/catalog
include ./blocks/card/card
include ./blocks/footer/footer
include ./blocks/startButton/startButton