extends ../layouts/main

include ../layouts/mixins

block title
    title UberEats - Stores

block content
    +page()
        +header()
        +search()
        +catalog()
            +card("../layouts/blocks/card/img/1.png", "Макдоналдс — Газетный", "₽₽ • Бургеры", "25 - 35 мин")
            +card("../layouts/blocks/card/img/2.png", "DimSum & Co — ЦДМ", "₽ • Японская • Китайская • Азиатская", "40 - 50 мин")
            +card("../layouts/blocks/card/img/3.png", "ДвижОК — Манежная", "₽ • Американская • Европейская", "35 - 45 мин")
            +card("../layouts/blocks/card/img/4.png", "НЯ — NHA", "₽₽ • Вьетнамская", "30 - 40 мин")
            +card("../layouts/blocks/card/img/5.png", "Точка Дзы — Цветной", "₽₽ • Вьетнамская", "40 - 50 мин")
            +card("../layouts/blocks/card/img/6.png", "Cinnabon", "₽ • Выпечка • Десерты • Капкейки", "25 - 35 мин")
            +card("../layouts/blocks/card/img/7.png", "PIZZELOVE", "₽₽ • Пицца", "15 - 25 мин")
            +card("../layouts/blocks/card/img/8.png", "Zю кафе — Тверская", "₽₽ • Японская", "25 - 35 мин")
            +card("../layouts/blocks/card/img/9.png", "Bar BQ Cafe — Манежная", "₽₽₽ • Европейская", "30 - 40 мин")
        +footer()